<!DOCTYPE html>
<html lang="en">

<head>
    <title>343 Electronics</title>
    <meta charset="utf-8"/>
    <link rel="icon" href='images/login.png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='css/style.css'/>
    <base href="/"/>
</head>

<body ng-app="app" ng-controller="mainController" class="ng-cloak">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-href="/" class="navbar-brand">
                <!--suppress CheckImageSize -->
                <img src="images/login.png" width="25" height="20" style="display: inline;"> 343 Electronics
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-book"></span> Catalog<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-href="catalog/desktops">Desktops</a></li>
                    <li><a ng-href="catalog/monitors">Monitors</a></li>
                    <li><a ng-href="catalog/laptops">Laptops</a></li>
                    <li><a ng-href="catalog/tablets">Tablets</a></li>
                </ul>
            </li>
            <li ng-if="authenticate()"><a ng-href="cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            <li ng-if="authenticate()"><a ng-href="history"><span class="glyphicon glyphicon-calendar"></span> Purchase History</a></li>
            <li><a ng-href="test">TEST</a></li>
            <li ng-if="authenticate()"><a ng-href="admin"><span class="glyphicon glyphicon-wrench"></span> Admin</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li ng-if="!authenticate()"><a ng-href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li ng-if="authenticate()"><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div ng-view=""></div>

<!-- Angular Imports -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>


<!-- Angular Scripts -->
<script src="js/index.js"></script>
<script src="js/frontPage.js"></script>
<script src="js/login.js"></script>
<script src="js/register.js"></script>
<script src="js/catalog.js"></script>
<script src="js/cart.js"></script>
<script src="js/purchaseHistory.js"></script>
<script src="js/admin/admin.js"></script>
<script src="js/admin/addItems.js"></script>
<script src="js/admin/deleteItems.js"></script>
<script src="js/admin/modifyItems.js"></script>
<script src="js/admin/viewItems.js"></script>
<script src="js/viewItemsDetail.js"></script>
<script src="js/testPage.js"></script>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>