<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-area">

            <h1>Add New User Form</h1>

            <form name="user" ng-submit="addUser()">

                <label for="firstNameInput">First name:</label>
                <input type="text" class="form-control" ng-model="firstName" required="" id="firstNameInput"/>

                <label for="lastNameInput">Last name:</label>
                <input type="text" class="form-control" ng-model="lastName" required="" id="lastNameInput"/>

                <label for="addressInput">Address:</label>
                <input type="text" class="form-control" ng-model="address" required="" id="addressInput"/>

                <label for="emailInput">E-mail:</label>
                <input type="email" class="form-control" ng-model="email" required="" id="emailInput"/>

                <label for="passwordInput">Password:</label>
                <input type="password" class="form-control" ng-model="password" required="" id="passwordInput"/>

                <label for="phoneNumInput">Phone number:</label>
                <input type="text" class="form-control" ng-model="phoneNumber" required="" id="phoneNumInput"/>

                <br/><button type="submit" class="btn btn-block">Submit</button>
                {{userMessage}}

                <br/><a ng-href="admin"><button class="btn btn-block">Finish</button></a>

            </form>

        </div>
    </div>
</div>