<div class="container" style="padding-top: 100px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-lock"></span> Admin Controls
                    </h3>
                </div>
                <div class="panel-body center-vertically" style="text-align: center">
                    <div style="margin: auto">
                        <a ng-href="addItems" class="btn btn-success btn-lg" role="button">
                            <span class="glyphicon glyphicon-plus"></span><br/>Add Items
                        </a>
                        <a ng-href="viewItems" class="btn btn-primary btn-lg" role="button">
                            <span class="glyphicon glyphicon-list-alt"></span><br/>View Items
                        </a>
                        <a ng-href="modifyItems" class="btn btn-warning btn-lg" role="button">
                            <span class="glyphicon glyphicon-edit"></span><br/>Modify Items
                        </a>
                        <a ng-href="viewUsers" class="btn btn-primary btn-lg" role="button">
                            <span class="glyphicon glyphicon-list-alt"></span><br/>View Users
                        </a>
                        <a ng-href="deleteItems" class="btn btn-danger btn-lg" role="button">
                            <span class="glyphicon glyphicon-remove"></span><br/>Delete Items
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>