<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-area">
            <form name="deleteItems" ng-submit="deleteItem()" role="form">
                <h3 style="margin-bottom: 25px; text-align: center;">Delete Items</h3>
                <div class="form-group">
                    <label >Please enter the ID of the item you wish to delete:</label>
                    <input type="text" class="form-control" ng-model="deleteId"  placeholder="ID" required="" autofocus=""/>
                </div>
                <div class="form-actions">
                    <button type="submit" id="delete-btn" class="btn btn-primary">Delete</button> {{message}}
                </div>
            </form>

            <br/><a ng-href="admin"><button class="btn btn-block">Finish</button></a>

        </div>
    </div>
</div>