<!-- TODO cleanup -->
<div class="container">
    <div class="col-md-8 col-md-offset-2">

        <div class="form-area">
            <form name="modifyItems" ng-submit="getProdInfo()" role="form">
                <h3 style="margin-bottom: 25px; text-align: center;">Modify Items</h3>
                <div class="form-group">
                    <label>Please enter the ID of the item you wish to modify:</label>
                    <!--<input type="number" class="form-control" id="modifyID" placeholder="ID" ng-model="mId" required="" autofocus=""/> -->
                    <input type="number" class="form-control" ng-model="mId" required="" autofocus=""/>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Modify</button>
                </div>
            </form>
        </div>
        {{message}}
        <div ng-switch="itemData.discriminator">

            <div ng-switch-when="2">
                <form name="modifyMonitorForm" class="css-form" ng-submit="modifyMonitor()">
                    <h2>Modify a Monitor:</h2>
                    <label>Model Number</label>
                    <input type="text" class="form-control"  ng-model="itemData.model" pattern="[\d\w]+"/>
                    <label>Brand</label>
                    <input type="text" class="form-control"  ng-model="itemData.brand" />
                    <label>Size (in inches)</label>
                    <input type="text" class="form-control"  ng-model="itemData.size" pattern="\d+(\.\d+)?"/>
                    <label>Weight (in kg)</label>
                    <input type="text" class="form-control"  ng-model="itemData.weight" pattern="\d+(\.\d+)?"/>
                    <label>Price </label>
                    <input type="text" class="form-control"  ng-model="itemData.price" pattern="\d+(\.\d+)?"/><br />
                    <button type="submit" class="btn btn-block" >Submit</button>
                </form>
            </div>

            <div ng-switch-when="3">
                <form name="modifyTabletForm" class="css-form" ng-submit="modifyTablet()">
                    <h2>Modify a Tablet:</h2>
                    <label>Model Number</label>
                    <input type="text" class="form-control"  ng-model="itemData.model" pattern="[\d\w]+"/>
                    <label>Brand</label>
                    <input type="text" class="form-control"  ng-model="itemData.brand" />
                    <label>Size (in inches)</label>
                    <input type="text" class="form-control" ng-model="itemData.size" pattern="\d+(\.\d+)?"/>
                    <label>Dimensions (in cm)</label>
                    <input type="text" class="form-control"  ng-model="itemData.dimensions" />
                    <label>Weight (in kg)</label>
                    <input type="text" class="form-control"  ng-model="itemData.weight" pattern="\d+(\.\d+)?"/>
                    <label>Processor Type</label>
                    <input type="text" class="form-control"  ng-model="itemData.processorType" />
                    <label>RAM Size (in Gigabytes)</label>
                    <input type="text" class="form-control"  ng-model="itemData.ram" pattern="\d+(\.\d+)?"/>
                    <label>Number of CPU Cores</label>
                    <input type="text" class="form-control"  ng-model="itemData.cpuCores" pattern="\d+"/>
                    <label>Hard Drive Size (in Gigabytes)</label>
                    <input type="text" class="form-control"  ng-model="itemData.hardDriveSize" pattern="\d+(\.\d+)?"/>
                    <label>Battery Information</label>
                    <input type="text" class="form-control"  ng-model="itemData.batteryInfo" />
                    <label>Operating System</label>
                    <input type="text" class="form-control"  ng-model="itemData.operatingSystem" />
                    <label>Camera Information</label>
                    <input type="text" class="form-control"  ng-model="itemData.cameraInfo" />
                    <label>Price </label>
                    <input type="text" class="form-control"  ng-model="itemData.price" pattern="\d+(\.\d+)?"/><br />
                    <button type="submit" class="btn btn-block"  >Submit</button>
                </form>
            </div>

            <div ng-switch-when="4">
                <form name="modifyDesktopForm" class="css-form" ng-submit="modifyDesktop()">
                    <h2>Modify a Desktop:</h2>
                    <label>Model Number</label>
                    <input type="text" class="form-control"  ng-model="itemData.model" pattern="[\d\w]+"/>
                    <label>Brand</label>
                    <input type="text" class="form-control" ng-model="itemData.brand"/>
                    <label>Dimensions (in cm)</label>
                    <input type="text" class="form-control"  ng-model="itemData.dimensions"/>
                    <label>Weight (in kg)</label>
                    <input type="text" class="form-control"  ng-model="itemData.weight" pattern="\d+(\.\d+)?"/>
                    <label>Processor Type</label>
                    <input type="text" class="form-control"  ng-model="itemData.processorType"/>
                    <label>Number of CPU Cores</label>
                    <input type="text" class="form-control"  ng-model="itemData.cpuCores" pattern="\d+"/>
                    <label>RAM Size (in Gigabytes)</label>
                    <input type="text" class="form-control" ng-model="itemData.ram" pattern="\d+(\.\d+)?"/>
                    <label>Hard Drive Size (in Gigabytes)</label>
                    <input type="text" class="form-control" ng-model="itemData.hardDriveSize" pattern="\d+(\.\d+)?"/>
                    <label>Price </label>
                    <input type="text" class="form-control"  ng-model="itemData.price" pattern="\d+(\.\d+)?"/><br />
                    <button type="submit" class="btn btn-block" >Submit</button>
                </form>
            </div>

            <div ng-switch-when="5">
                <form name="modifyLaptopForm" class="css-form" ng-submit="modifyLaptop()">
                    <h2>Modify a Laptop:</h2>
                    <label>Model Number</label>
                    <input type="text" class="form-control"  ng-model="itemData.model" pattern="[\d\w]+"/>
                    <label>Brand</label>
                    <input type="text" class="form-control"  ng-model="itemData.brand" />
                    <label>Size (in inches)</label>
                    <input type="text" class="form-control" ng-model="itemData.size" pattern="\d+(\.\d+)?"/>
                    <label>Weight (in kg)</label>
                    <input type="text" class="form-control"  ng-model="itemData.weight" pattern="\d+(\.\d+)?"/>
                    <label>Processor Type</label>
                    <input type="text" class="form-control"  ng-model="itemData.processorType" />
                    <label>RAM Size (in Gigabytes)</label>
                    <input type="text" class="form-control"  ng-model="itemData.ram" pattern="\d+(\.\d+)?"/>
                    <label>Number of CPU Cores</label>
                    <input type="text" class="form-control"   ng-model="itemData.cpuCores" pattern="\d+"/>
                    <label>Hard Drive Size (in Gigabytes)</label>
                    <input type="text" class="form-control"   ng-model="itemData.hardDriveSize" pattern="\d+(\.\d+)?"/>
                    <label>Battery Information</label>
                    <input type="text" class="form-control"   ng-model="itemData.batteryInfo"/>
                    <label>Operating System</label>
                    <input type="text" class="form-control"  ng-model="itemData.operatingSystem"/>
                    <label>Does it have a camera?</label>
                    <label>Yes</label><input type="radio" name="camera"  ng-model="itemData.camera" required="" ng-value="true"/>
                    <label>No</label><input type="radio" name="camera" ng-model="itemData.camera" required="" ng-value="false"/><br/>
                    <label>Does it have a touch screen?</label>
                    <label>Yes<input type="radio" name="touchScreen"  ng-model="itemData.touchScreen" required="" ng-value="true"/></label>
                    <label>No<input type="radio" name="touchScreen" ng-model="itemData.touchScreen" required="" ng-value="false"/></label><br/>
                    <label>Price </label>
                    <input type="text" class="form-control"   ng-model="itemData.price" pattern="\d+(\.\d+)?"/><br />
                    <button type="submit" class="btn btn-block"  >Submit</button>
                </form>
            </div>
        </div>

        <br/><a ng-href="admin"><button class="btn btn-block">Finish</button></a>

    </div>
</div>