<div class="container">
    <p> Sort:  </p>
    <select
        ng-options = "option for option in listOfOptions"
        ng-model="selectedItem"
        ng-change="rename(selectedItem)">
    </select>

    <p> Brand filter:  </p>
    <input type="text" data-ng-model="search.brand">
    <br>
    <p> model filter: </p>
    <input type="text" data-ng-model="search1.model">
    <br>
    <p> Type filter: </p>
    <input type="radio" data-ng-model="search2.discriminator" value="" > All 
    <input type="radio" data-ng-model="search2.discriminator" value="1"> TV 
    <input type="radio" data-ng-model="search2.discriminator" value="2"> Monitor 
    <input type="radio" data-ng-model="search2.discriminator" value="3"> Tablet 
    <input type="radio" data-ng-model="search2.discriminator" value="4"> Desktop 
    <input type="radio" data-ng-model="search2.discriminator" value="5"> Laptop 
    <p> Size filter</p> <br>
    <p> Greater than : </p>
    <input type="radio" data-ng-model="search3" value="">
    <input type="radio" data-ng-model="search3" value="500">
    <input type="radio" data-ng-model="search3" value="1000">


   <!--  <input type="text" data-ng-model="search3"> <br> -->
    <p> Greater than : </p>
    <input type="text" data-ng-model="search4">    
</div>
</br>
</br>
<div class="container">
    <div class="row">
            <div class="col-sm-4" ng-repeat="item in itemsInventory  | orderBy:select | filter:search | filter:search1 | filter:search2  ">
                <!-- | filter: greaterThan('size', search3) -->
            <div class="panel panel-primary">
                <div ng-if="item.discriminator == 1" class="panel-heading">Tv</div>
                <div ng-if="item.discriminator == 2" class="panel-heading">Monitor</div>
                <div ng-if="item.discriminator == 3" class="panel-heading">Tablet</div>
                <div ng-if="item.discriminator == 4" class="panel-heading">Desktop</div>
                <div ng-if="item.discriminator == 5" class="panel-heading">Laptop</div>
                <div class="panel-body">
                    <ul style="list-style-type: none;">
                        <li ng-repeat="(key,value) in item">
                            {{key}}: {{value}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
