<div ng-include="'view/catalog/filters.html'"></div>
</br>
</br>
<div class="container">
    <div class="row">
        <div class="col-md-4"  ng-repeat="item in itemsInventory  |
                                            orderBy:select |
                                            filter:{brand: filters.brand} |
                                            filter:{model: filters.model} |
                                            filter: greaterThan('weight', filters.greaterThanValWeight) |
                                            filter: lessThan('weight', filters.lessThanValWeight) |
                                            filter: greaterThan('price', filters.greaterThanValPrice) |
                                            filter: lessThan('price', filters.lessThanValPrice) ">
                <!-- | filter: greaterThan('size', search3) -->
            <div class="panel panel-primary">
                <div ng-if="item.discriminator == 2" class="panel-heading"><a href="viewItems/{{item.id}}">Monitor</a></div>
                <div ng-if="item.discriminator == 3" class="panel-heading"><a href="viewItems/{{item.id}}">Tablet</a></div>
                <div ng-if="item.discriminator == 4" class="panel-heading"><a href="viewItems/{{item.id}}">Desktop</a></div>
                <div ng-if="item.discriminator == 5" class="panel-heading"><a href="viewItems/{{item.id}}">Laptop</a></div>
                <div class="panel-body">
                    <ul style="list-style-type: none;">
                        <strong>ID:</strong> {{item.id}}
                        <li ng-repeat="(key,value) in item" ng-if="key != 'discriminator' && key != 'id'">
                            <strong>{{key}}:</strong> {{value}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>