/* COMMON */
html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    border-radius: 0;
}

.view {
    margin: 50px 0 0 0;
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100%;
}

.center-vertically {
    height: 100%;
    display: flex;
    align-items: center;
}

.debug {
    border-style: dashed;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Hide website loading */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Front page */
.carousel {
    overflow: hidden;
    position: absolute;
    z-index: -99;
}

.logo {
    position: absolute;
    margin-top: 100px;
    padding: 30px 5px 5px 5px;
    text-align: center;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.95);
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    -webkit-animation: fadein 1.5s;
}

@keyframes fadein {
    from { top: -50px; opacity: 0; }
    to   { top: 50px; opacity: 1; }
}

/* LOGIN */
input#email, #password {
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 16px;
}

button#login-btn {
    border-radius: 30px;
    background: #333;
    color: white;
    margin-top: 30px;
}

/* VIEW ITEMS */
.panel-body{
    height: 150px;
    overflow: auto;
}

.panel a{
    text-decoration: underline;
    color: white;
}

/* FORMS */
.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0 60px;
    border: 1px solid GREY;
}

/* Angular click */
[ng-click] {
    cursor: pointer;
}

/* FILTERS */
.filters {
    padding: 20px 0 20px 0;
    background-color: lightgray;
    margin-bottom: 20px;
}


/* ITEM DETAILS */
.item_view .modal-dialog {
    max-width: 800px;
    width: 100%;
}
