/* COMMON */
html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.full-height {
    height: calc(100vh - 105px);
}

.center-vertically {
    height: 100%;
    display: flex;
    align-items: center;
}

.debug {
    border-style: dashed;
}

/* LOGIN */
input#email, #password {
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 16px;
}

button#login-btn {
    border-radius: 30px;
    background: #333;
    color: white;
    margin-top: 30px;
}

/* VIEW ITEMS */
.panel-body{
    height: 150px;
    overflow: auto;
}

.panel a{
    text-decoration: underline;
    color: white;
}

/* FORMS */
.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0 60px;
    border: 1px solid GREY;
}

/* Angular click */
[ng-click] {
    cursor: pointer;
}

