<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="item in cart">
            <!-- | filter: greaterThan('size', search3) -->
            <div class="panel panel-primary">
                <div ng-if="item.discriminator == 2" class="panel-heading"><a href="viewItems/{{item.id}}">Monitor</a></div>
                <div ng-if="item.discriminator == 3" class="panel-heading"><a href="viewItems/{{item.id}}">Tablet</a></div>
                <div ng-if="item.discriminator == 4" class="panel-heading"><a href="viewItems/{{item.id}}">Desktop</a></div>
                <div ng-if="item.discriminator == 5" class="panel-heading"><a href="viewItems/{{item.id}}">Laptop</a></div>
                <div class="panel-body">
                    <ul style="list-style-type: none;">
                        <li ng-repeat="(key,value) in item" ng-if="key != 'discriminator'">
                            {{key}}: {{value}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>