<div id="backgroundCarousel" class="carousel slide full-height full-width" data-ride="carousel">
    <!-- Dot Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#backgroundCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#backgroundCarousel" data-slide-to="1"></li>
        <li data-target="#backgroundCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Items -->
    <div class="carousel-inner">
        <div class="active item"><img src="../images/background-1.jpeg"/></div>
        <div class="item"><img src="../images/background-2.jpeg"/></div>
        <div class="item"><img src="../images/background-3.jpeg"/></div>
    </div>

</div>

<div class="col-md-4 col-md-offset-4 logo">
    <!--suppress CheckImageSize -->
    <img src="../images/login.png" width="300" height="244" style="display: block; margin: auto"/>
    <br/>
    <h1>343 Electronics</h1>
</div>