<!DOCTYPE html>
<html lang="en">

<head>
    <title>343 Electronics</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <base href="/"/>

    <!-- StyleSheets -->
    <link rel='stylesheet' href='css/style.css'/>
    <link rel='stylesheet' href='css/viewItems.css'/>
</head>

<body ng-app="myApp" ng-controller="AppController" ng-style="style">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">343 Electronics</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/test">TEST</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/login"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- TODO fix height to be relative to navbar size -->
<div ng-view="" style="height:88vh;"></div>

<!-- Angular Import -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>

<!-- Angular Scripts -->
<script src="js/app.js"></script>
<script src="js/testPage/testPage.js"></script>
<script src="js/login/login.js"></script>
<script src="js/adminAddItemsPage/adminAddItem.js"></script>
<script src="js/adminFeatures/registerAdmin.js"></script>
<script src="js/userActions/userActions.js"></script>
<script src="js/viewItems/viewItems.js"></script>

</body>
</html>