<!DOCTYPE html>
<html lang="en">

<head>
    <title>343 Electronics</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='css/style.css'/>
    <base href="/"/>
</head>

<body ng-app="registerAdmin" ng-controller="RegisterAdminCtrl">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">343 Electronics</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/test">TEST</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                <li><a href="/"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-area">
            <form name="registerAdmin" ng-submit="register()" role="form">
                <h3 style="margin-bottom: 25px; text-align: center;">Administrator Registration</h3>
                <div class="form-group">
                    <label for="adminFirstName">First Name:</label>
                    <input type="text" class="form-control" ng-model="firstName" id="adminFirstName" required=""
                           autofocus=""/>
                </div>
                <div class="form-group">
                    <label for="adminLastName">Last Name:</label>
                    <input type="text" class="form-control" ng-model="lastName" id="adminLastName" required=""/>
                </div>
                <div class="form-group">
                    <label for="adminAddress">Address:</label>
                    <input type="text" class="form-control" ng-model="address" id="adminAddress" required=""/>
                </div>
                <div class="form-group">
                    <label for="adminPhoneNumber">Phone Number:</label>
                    <input type="text" class="form-control" ng-model="phoneNumber" id="adminPhoneNumber"
                           required=""/>
                </div>
                <div class="form-group">
                    <label for="adminEmail">Email:</label>
                    <input type="email" class="form-control" ng-model="email" id="adminEmail" required=""/>
                </div>
                <div class="form-group">
                    <label for="adminPassword">Password:</label>
                    <input type="password" class="form-control" ng-model="password" id="adminPassword"
                           required=""/>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Register Administrator</button>
                    {{dataRegisterResponse}}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Angular Import -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<!-- Angular Scripts -->
<script src="/js/registerAdmin.js"></script>

</body>
</html>
