<div ng-controller="TestPageCtrl">
   <form ng-submit="testEntry()">
      <input type="text" ng-model="name" />
      <input type="submit" />
   </form>

   <button ng-click="addProduct()">Add Product Test button</button>

   <button ng-click="getEntry()">Get Names from the Database</button>

   <form ng-submit="login()">
      <label>Email: </label>
      <input type="email" ng-model="email" />
      <label>Password: </label>
      <input type="password" ng-model="password" />
      <input type="submit" />
   </form>
   {{dataLoginResponse}}
   {{userInfo}}

   <!-- for loop in angular -->
   <div ng-repeat="x in data">
      {{x.name}}
   </div>

</div>