<!DOCTYPE html>
<html lang="en">

<head>
    <title>343 Electronics</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='../css/style.css'/>
    <base href="/"/>
</head>

<body ng-app="viewItemsDetail" ng-controller="viewItemsDetailCtrl">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">343 Electronics</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/test">TEST</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                <li><a href="/"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>{{item.brand}} {{item.model}}</h2>

    <h3>Product Information</h3>
    <table class="table table-striped">
        <tr class="row" ng-repeat="(key,value) in item">
            <td>{{key | capitalize}}:</td>
            <td>{{value}}</td>
        </tr>
    </table>

</div>

<!-- Angular Import -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<!-- Angular Scripts -->
<script src="../js/viewItemsDetail.js"></script>

</body>
</html>
