<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Register Admin Account</title>
</head>
<body>
<div class="well well-lg" ng-controller="RegisterAdminCtrl">
  <h1>Administrator Registration</h1>
    <form ng-submit="register()">
      <div>
        <h4>First Name: </h3>
        <input type="firstName" class="form-control" ng-model="firstName" /><br>
        <h4>Last Name: </h3>
        <input type="lastName" class="form-control" ng-model="lastName" /><br>
        <h4>Address: </h3>
        <input type="address" class="form-control" ng-model="address" /><br>
        <h4>Phone Number: </h3>
        <input type="phoneNumber" class="form-control" ng-model="phoneNumber" /><br>
        <h4>Email: </h3>
        <input type="email" class="form-control" ng-model="email" /><br>
        <h4>Password: </h3>
        <input type="password"  class="form-control" ng-model="password" /><br><br>
        <input class="btn" type="submit" /><br><br>
      <div class="alert alert-success">
        <strong>You have successfully registered as administrator</strong>
      </div>
      <div class="alert alert-danger">
        <strong>The email is already in use</strong>
      </div>
      <br>
    </form>
  </div>
    {{dataRegisterResponse}}
</body>
