<!DOCTYPE html>
<html>
<head>
    <title>343 Electronics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="icon" href="https://aws.amazon.com/favicon.ico" />
    <base href="/">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="">

<form>
  Select a Category of item to add to the inventory:<br />
  <select ng-model="Category">
  	<option value="">Please Select an Option
  	<option value="Computer">Computer
  	<option value="Television">Television
  </select>
</form>

<div ng-switch="Category">
  <div ng-switch-when="Television">
     <h1>Add a Television</h1>
     <form>
  		Detailed Dimensions (in centimeters): <input type="number" ng-model="Size" min="0" required>cm<br />
  		Weight (in kilograms): <input type="number" ng-model="Weight" min="0" required>kg<br />
  		Model Number: <input type="text" ng-model="Model" ng-pattern-restrict="^$|^[A-Za-z0-9]+" required><br />
  		Brand Name: <input type="text" ng-model="Brand" required><br />
  		Price: <input type="number" ng-model="Price" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>$ (CAD)<br />
  	</form>
  </div>
  <div ng-switch-when="Computer">
     <h1>Add a Computer</h1>
     <form>
  Select a type of Computer add to the inventory:<br />
  <select ng-model="Computer">
  	<option value="">Please Select an Option
  	<option value="Desktop">Desktop Computer
  	<option value="Display">Monitor Display
  	<option value="Laptop">Laptop Computer
  	<option value="Tablet">Tablet Computer
  </select>
	</form>
		<div ng-switch="Computer">
			<div ng-switch-when="Desktop">
				<h1>Add a Desktop Computer</h1>
				<form>
					Detailed Dimensions (in centimeters): <input type="number" ng-model="Size" min="0" required>cm<br />
					Processor Type: <input type="text" ng-model="Processor" required><br />
  					Weight (in kilograms): <input type="number" ng-model="Weight" min="0" required>kg<br />
  					Number of CPU Cores: <input type="number" ng-model="Cores" min="0" required><br />
  					Hard Drive Size (in Gigabytes): <input type="number" ng-model="HardDriveSize" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>GB<br />
					Brand Name: <input type="text" ng-model="Brand" required><br />
					Model Number: <input type="text" ng-model="Model" ng-pattern-restrict="^$|^[A-Za-z0-9]+" required><br />
  					Price: <input type="number" ng-model="Price" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>$ (CAD)<br />
  				</form>
			</div>
			<div ng-switch-when="Display">
				<h1>Add a Monitor Display</h1>
				<form>
					Size (in inches): <input type="number" ng-model="Size" min="0" required>in<br />
  					Weight (in kilograms): <input type="number" ng-model="Weight" min="0" required>kg<br />
					Brand Name: <input type="text" ng-model="Brand" required><br />
					Model Number: <input type="text" ng-model="Model" ng-pattern-restrict="^$|^[A-Za-z0-9]+" required><br />
  					Price: <input type="number" ng-model="Price" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>$ (CAD)<br />
  				</form>
			</div>
			<div ng-switch-when="Laptop">
				<h1>Add a Laptop Computer</h1>
				<form>
					Display Size (in inches): <input type="number" ng-model="Size" min="0" required>in<br />
					Processor Type: <input type="text" ng-model="Processor" required><br />
					RAM Size (in Gigabytes): <input type="number" ng-model="RAM" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>GB<br />
					Number of CPU Cores: <input type="number" ng-model="Cores" min="0" required><br />
  					Hard Drive Size (in Gigabytes): <input type="number" ng-model="HardDriveSize" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>GB<br />
  					Battery Information: <input type="text" ng-model="Battery" required><br />
					Brand Name: <input type="text" ng-model="Brand" required><br />
					Model Number: <input type="text" ng-model="Model" ng-pattern-restrict="^$|^[A-Za-z0-9]+" required><br />
  					Operating System: <input type="text" ng-model="OS" required><br />
  					Price: <input type="number" ng-model="Price" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>$ (CAD)<br />
  					Does it have a camera?</br>
     				<input type="radio" ng-model="Camera" value="True" required>Yes<br />
  					<input type="radio" ng-model="Camera" value="False" required>No<br />
  					Does it have a touch screen?</br>
     				<input type="radio" ng-model="TouchScreen" value="True" required>Yes<br />
  					<input type="radio" ng-model="TouchScreen" value="False" required>No<br />
  				</form>
			</div>
			<div ng-switch-when="Tablet">
				<h1>Add a Tablet Computer</h1>
				<form>
					Display Size (in inches): <input type="number" ng-model="Size" min="0" required>in<br />
					Detailed Dimensions (in centimeters): <input type="number" ng-model="Size" min="0" required>cm<br />
					Weight (in kilograms): <input type="number" ng-model="Weight" min="0" required>kg<br />
					Processor Type: <input type="text" ng-model="Processor" required><br />
					RAM Size (in Gigabytes): <input type="number" ng-model="RAM" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>GB<br />
					Number of CPU Cores: <input type="number" ng-model="Cores" min="0" required><br />
					Hard Drive Size (in Gigabytes): <input type="number" ng-model="HardDriveSize" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>GB<br />
					Battery Information: <input type="text" ng-model="Battery" required><br />
					Brand Name: <input type="text" ng-model="Brand" required><br />
					Model Number: <input type="text" ng-model="Model" ng-pattern-restrict="^$|^[A-Za-z0-9]+" required><br />
					Operating System: <input type="text" ng-model="OS" required><br />
  					Price: <input type="number" ng-model="Price" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>$ (CAD)<br />
  					Does it have a camera?</br>
     				<input type="radio" ng-model="Camera" value="True" required>Yes<br />
  					<input type="radio" ng-model="Camera" value="False" required>No<br />
  				</form>
			</div>
		</div>
  </div>
</div>
</html>